.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.logo {
    width: 120px;
    height: auto;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-menu li {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
    padding: 8px 0;
}

.nav-menu li:hover a {
    color: #B415FF;
}

.nav-menu li .active {
    color: #DF8908;
    font-weight: bold;
}

.nav-menu li .active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 60%;
    height: 3px;
    background: linear-gradient(to right, #DF8908, #B415FF);
    border-radius: 50px;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.nav-menu li:hover .active::after {
    width: 80%;
}

.nav-connect {
    padding: 12px 20px;
    margin-right: 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    border: none;
    outline: none;
}

.nav-connect:hover {
    transform: scale(1.1);
    background: linear-gradient(267deg, #B923E1 0.36%, #DA7C25 102.06%);
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        padding: 20px;
    }

    .menu-icon {
        display: block;
    }

    .nav-connect {
        display: none;
    }
}